body {
  background: thistle; }

.ui-dialog {
  z-index: 999; }

.wrapper {
  font-size: 100px; }

.alertItself {
  height: 350px;
  width: 350px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  border-radius: 50%; }
  .alertItself p {
    font-size: 22px;
    font-family: sans-serif; }
