body {
  background: thistle; }

.ui-dialog {
  z-index: 999; }

.wrapper {
  font-size: 100px; }

.dimening {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: none; }

.alertItself {
  height: 350px;
  width: 350px;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translateY(-50%) translateX(-50%);
  display: none;
  z-index: 9999; }
  .alertItself p {
    font-size: 22px;
    font-family: sans-serif;
    max-width: 100%; }

.open {
  display: block; }
