body {
	background: thistle;
}

.wrapper {
	font-size: 100px;
}

#dimening {
  position: fixed;
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,0.4);
  top:0;
  left:0;
  display: none;
}

#alertItself {
	height: 350px;
	width: 350px;
	background: rgba(255,255,255,0.8);
	border-radius: 50%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	transform: translateY(-50%) translateX(-50%);
	display: none;

	img {
		max-width: 150px;
		z-index: 10;
		position: absolute;
		top: -75px;
		right: 125px;
	}

	p {
		font-size: 16px;
		font-family: sans-serif;
		max-width: 320px;
		position: absolute;
		top: 150px;
	}
}

.open {
	display: block;

}

