body {
	background: thistle;
}

.ui-dialog {
	z-index: 999;
}

.wrapper {
	font-size: 100px;
}

.theDimening {
	position: fixed;
	height: 100%;
	width: 100%;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	display: none;
}

.alertItself {
	  max-width:400px;
	  width: 400px;
	  height: 400px;
	  border-radius: 50%;
	  background: rgba(255,255,255,0.5);
	  margin:0 auto;
	  position: absolute;
	  top:50%;
	  left:50%;
	  padding:20px;
	  transform:translateX(-50%) translateY(-50%);
	  display: none;

	  p {
	  	font-size: 20px;
	  }
	}

.open {
	display: block;
}

